@{
  Layout = "_Layout";
}
@using Factory.Models;

<h1>SillyStringz Factory</h1>

<hr>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been hired yet!</p>
} 
<ul>
  @foreach (Engineer eng in Model["engineers"])
  {
    <li>@Html.ActionLink(@eng.Name, "Details", "Engineers", new { id = @eng.EngineerId})</li>
  }
</ul>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been installed yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>

<p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Manage Machines", "Index", "Machines")</p>